<main id="orders-page">
  <div class="row">
    <div class="col s12 l7 no-padding order-large">
      <img class="order-photo" ng-src="{{ orderCtrl.showJumbotron() }}"
        alt="order photo" />
    </div>
    <div ui-view></div>
    <div class="col s12 col s6 l5 order-item-container no-padding">
      <ul>
        <li ng-repeat="camera in orderCtrl.cameraList()" class="item">
          <div class="col s12 no-padding order-item">
            <div class="col s8 m10 l8">
              <span class="outter-circle"><span class="order-circle"></span></span>
              <h2 class="order-name">{{ camera.title }}</h2>
              <h3 class="order-price">{{ camera.price | currency }}</h3>
            </div>
            <div class="col s4 m2 l4 no-padding">
              <img class="order-small no-padding" ng-src="{{camera.image}}"
                alt="camera image" />
            </div>
          </div>
        </li>
      </ul>
      <div>
        <table id="checkout-table">
          <thead id="thead">
            <tr>
              <th class="center" data-field="id">Item</th>
              <th class="center" data-field="name">Quantity</th>
              <th class="center" data-field="price">Price</th>
            </tr>
          </thead>

          <tbody id="tbody">
          </tbody>
            <tr ng-repeat="camera in orderCtrl.cameraList()">
              <td class="center table-data table-cam-name">{{ camera.title }}</td>
              <td class="center table-data">{{ camera.quantity }}</td>
              <td class="center table-data">{{ camera.price | currency }}</td>
            </tr>
          <tfoot>
            <tr id="subtotal">
              <td>&nbsp;</td>
              <td class="center">subtotal</td>
              <td class="center">{{ orderCtrl.getSubtotal() | currency }}</td>
            </tr>
            <tr id="tax">
              <td>&nbsp;</td>
              <td class="center">tax</td>
              <td class="center">{{ orderCtrl.getTax() | currency }}</td>
            </tr>
            <tr id="total">
              <td>&nbsp;</td>
              <td class="center total">total</td>
              <td class="center total">{{ orderCtrl.getTotal() | currency }}</td>
            </tr>
        </table>
      </div>
      <div class="row">
        <div class="col s6 no-padding">
          <button id="edit-order" type="button" name="button">Edit Order</button>
        </div>
        <div class="col s6 no-padding">
          <button type="button" id="order-details"
            ui-sref="orders.checkout">Order Details</button>
        </div>
      </div>
    </div>
  </div>
</main>
