<footer class="page-footer" id="site-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Thank you for your support.</h5>
        <p class="follow-us">
          Follow us on <span class="social-media">Facebook</span>,
          <span class="social-media">twitter</span> and
          <span class="social-media">instagram</span>
          to stay up to date on all of our latest products and deals.
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Apature © 2016
    </div>
  </div>
</footer>
