<main id="past-orders-page">
  <ul>
    <li ng-repeat="order in pastOrdersCtrl.pastOrders |  filter:searchCtrl.searchText">
      <ul class="row" id="past-order-info">
        <div class="col s12 m4 order-info center">
          <li><span class="cap-info">order placed</span>:<br>
          {{ order.created_at }}</li>
        </div>

        <div class="col s12 m4 order-info center">
          <li>
            <span class="cap-info">quantity ordered</span>: {{ order.quantity }}
          </li>
        </div>

        <div class="col s12 m4 button-container">
          <li>
            <button class="product-review" type="button">write a product review</button><br>
            <button class="buy-again" type="button">buy it again</button>
          </li>
        </div>
      </ul>

      <div class="col s10 offset-s2 past-product-container"
        id="{{ 'product-' + order.id }}"
        ng-style="{'background-image':'url({{ order.image }})'}">

        <div class="on-sale center" ng-show="order.onSale === true">On Sale</div>

        <div class="product-info-container">
          <h2 class="product-name">{{ order.name }}</h2>

          <div class="row icon-container">
            <ul class="spec-list">
              <li>
                <img class="spec-icon" src="images/star.png" alt="" />
                <h4 class="spec-detail">Rating: {{ order.rating }}</h4>
              </li>
              <li>
                <img class="spec-icon" src="images/zoom.png" alt="" />
                <h4 class="spec-detail">Digital zoom: {{ order.digital_zoom }}</h4>
              </li>
              <li>
                <img class="spec-icon" src="images/shutter-speed.png" alt="" />
                <h4 class="spec-detail">Shutter speed: {{ order.shutter_speed }}</h4>
              </li>
            </ul>
          </div>

          <div class="row">
            <h3 class="price"> {{ order.price | currency }}</h3>
          </div>
        </div>
      </div>
    </li>
  </ul>
</main>
